<app-header></app-header>
<div class="header">
  <div class="title">my account</div>
  <div class="translation">Contul meu</div>
</div>
<div class="container" *ngIf="!sentLink; else sent">
  <div class="text">
    Ai uitat parola? Te rog introdu numele tău de utilizator sau adresa de
    email. Vei primi o legătură prin email pentru a crea o parolă nouă.
  </div>
  <div class="input-name">Nume utilizator sau adresă email</div>
  <input matInput formControlName="username" />
  <button mat-raised-button color="primary" (click)="resetPassword()">
    resetează parola
  </button>
</div>
<ng-template #sent>
  <div class="container">
    <div class="success">
      <mat-icon>done</mat-icon>A fost trimis un email pentru resetarea parolei.
    </div>
    <div class="text">
      A fost trimis un email pentru resetarea parolei la adresa ta email, ceea
      asociată cu contul tău, dar ar putea dura câteva minute până să apară. Te
      rog așteaptă cel puțin 10 minute înainte de a încerca o altă resetare.
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
