h2 {
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 1em;
}

.gap {
    height: 50px;
}

.text {
    font-family: 'PT Sans', sans-serif;
}

li {
    list-style-type: disc;
}

body {
    font-size: 88%;
}

body {
    font-family: "PT Sans", sans-serif;
}

body {
    color: #000000;
}

body {
    -webkit-text-size-adjust: 100%;
    --primary-color: #000000;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    font-size: 88%;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    max-width: 1155px;
    padding-left: 0;
    padding-right: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}