<div *ngIf="!loading; else loader">
  <div class="quick-view">
    <div class="image-slider" fxFlex="50">
      <img
        [src]="
          !!item.imageSrc
            ? item.imageSrc[0]
            : 'https://www.guess.eu/en-gb/guess/women/apparel/dresses/belted-rib-knit-dress-beige/W0RK42R0SM1-F133.html'
        "
        alt="Main item image"
        class="base-image"
      />
    </div>
    <div class="data-column">
      <h1>{{ item.name }}</h1>
      <app-price-show
        [itemPrice]="item?.price"
        [discountedPrice]="item?.discountedPrice"
      ></app-price-show>
      <br />
      <app-size-show
        [message]="'Marimile'"
        [sizes]="[item.size || '']"
      ></app-size-show>
      <br />
      <app-color-show [message]="'Culorile'"></app-color-show>
      <br />
      <a>In stock - {{ item.qty }} </a>
      <a>Adauga in cos</a>
      <br />
      <a>SKU:{{ item.sku }}</a>
      <br />
      <a>Categorii:{{ item.categoryName }}</a>
      <br />
      <a>Labels:{{ item.labels }}</a>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
