<app-header></app-header>
<div class="content">
    <h2><i><b>CONTACTE</b></i></h2>
    <div class="gap"></div>
    <div class="text">
        Vă mulțumim pentru interesul dvs. în brandul GUESS. Suntem mereu la dispoziția dvs. pentru orice întrebări. Vă invităm să completați și expediați formularul de contact sau să accesați link-urile paginilor informative.
    </div>
    <div class="text">
        Pentru economisirea timpului dvs. vă informăm despre existența pe acest website a următoarelor pagini informative:
    </div>




    <p class="detail">FAQ <span class="name">(Întrebări Frecvente – FAQ) <span class="simple">– aici găsiți răspunsuri la cele mai frecvente întrebări din partea clinților noștri </span>

        <p class="detail">Info Utile <span class="name">(Informații Utile)<span class="simple">– recomandări și sfaturi despre îngrijirea și întreținerea produselor GUESS </span> </span>

            <p class="detail">Cum Comand <span class="name">(Cum Comand)<span class="simple">– descriere pe paşi a procesului de efectuare a comenzii online pe Guess.md</span> </span>

                <p class="detail">Livrare şi Retur <span class="name">(Livrare și Retur)<span class="simple">– informații utile despre condițiile de livrare și retur pentru produselor GUESS</span> </span>



                    <app-footer></app-footer>