h2 {
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 1em;
}

.gap {
    height: 50px;
}

.text {
    font-family: 'PT Sans', sans-serif;
}

.detail {
    color: red;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 10;
}

span.name {
    color: Blue;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 10
}

.simple {
    color: rgb(58, 55, 55);
    font-family: Tahoma;
}