<app-header></app-header>

<div class="content">
    <h2><i>CONTACTE</i></h2>

    <div> <strong>Vă mulțumim pentru interesul dvs. în brandul GUESS. Suntem mereu la dispoziția dvs. pentru orice întrebări. Vă invităm să completați și expediați formularul de contact sau să accesați link-urile paginilor informative.</strong> </div>
<br>    
<div><strong>Formularul, cât și lista link-urilor utile le găsiți mai jos pe această pagină.</strong></div>

<div class="box">
    <input type="text" name="numele" value="" size="40" class="contact-box" aria-required="true" aria-invalid="false" placeholder="Numele și Prenumele Dvs.*"> <br>
    <input type="text" name="telefon" value="" size="40" class="contact-box" aria-required="true" aria-invalid="false" placeholder="Telefonul*"> <br>
    <input type="text" name="email" value=""  size="40" class="contact-box" aria-required="true" aria-invalid="false" placeholder="Adresa Email*"> <br>
    <span class="contact-box">
        <textarea name="InstructionsandComments"  class="big-box" aria-invalid="false" placeholder="Mesajul Dvs. și alte detalii." spellcheck="false" data-gramm="false"></textarea>
    </span>
    
    <div class="knopka">
    <button class="mat-button" color><strong>EXPEDIAȚI</strong></button>
    
    </div>
</div>
<h4 style="padding-top: 25px; font-size: medium; color: rgba (0,0,0,0.2);"><strong>Pentru economisirea timpului dvs. vă informăm despre existența pe acest website a următoarelor pagini informative:</strong> </h4>

<p><strong><span style="color: #ff0000;">FAQ <span style="color: #0000ff;">(<a style="color: #0000ff;" href="****">Întrebări Frecvente – FAQ</a>)</span></span></strong> – aici găsiți răspunsuri la cele mai frecvente întrebări din partea clinților noștri<br>
    <strong><span style="color: #ff0000;">Info Utile <span style="color: #0000ff;">(<a style="color: #0000ff;" href="****">Informații Utile</a>)</span></span></strong> – recomandări și sfaturi despre îngrijirea și întreținerea produselor GUESS<br>
    <strong><span style="color: #ff0000;">Cum Comand <span style="color: #0000ff;">(<a style="color: #0000ff;" href="****">Cum Comand</a>)</span></span></strong> – descriere pe paşi a procesului de efectuare a comenzii online pe Guess.md<br>
    <strong><span style="color: #ff0000;">Livrare şi Retur <span style="color: #0000ff;">(<a style="color: #0000ff;" href="****">Livrare și Retur</a>)</span></span></strong> – informații utile despre condițiile de livrare și retur pentru produselor GUESS
</p>

</div>


    <app-footer></app-footer>