.card {
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  // box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.preview-image {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  // box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-image:hover {
  .preview-heart {
    opacity: 1;
  }

  .preview-box {
    opacity: 1;
  }

  .preview-info {
    bottom: 0px;
  }
}

.preview-image .preview-heart {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 25;
  background: rgba(189, 230, 114, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.preview-image .preview-box {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  bottom: 30px;
  font-weight: bold;
  font-size: 25;
  background: rgba(189, 230, 114, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.preview-image .preview-info {
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  height: 28px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  transition: bottom 0.5s;
}

.preview-text {
  padding: 0 0 0 0.2rem;
  font-size: 1.1rem;
}

.name {
  line-height: 1.3;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: #334862;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: #000;
  }
}

.price {
  color: #111;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
