h2 {
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 1em;
}

.gap {
    height: 50px;
}

.text {
    font-family: 'PT Sans', sans-serif;
}

li {
    list-style-type: disc;
}

body {
    font-size: 88%;
}

body {
    font-family: "PT Sans", sans-serif;
}

body {
    color: #000000;
}

body {
    line-height: 1.6;
}