<app-header></app-header>
<div class="content">
    <h2><strong>TERMENI SI CONDITII</strong></h2>
    <div class="gap"></div>
    <div class="text">
        În prezentul document sunt stabiliți termenii și condițiile de utilizare ale website-ului www.guess.md, cât și toate condițiile de achiziționare a produselor și serviciilor comercializate prin intermediul website-ului în cauză. În completare, politica
        de confidențialitate, de retur și orice alte documente constituie cuprinsul acestui document, numit in continuare “Termeni și Condiții”.
    </div>
    <div class="text">
        Societatea Comercială “Iralina” SRL își rezervă dreptul de a modifica în orice moment Termenii și Condițiile prezentate în acest document. Orice modificări aduse Termenilor și Condițiilor, vor intra în vigoare numai pentru comenzile noi, înregistrate
        după publicarea modificărilor respective pe acest website.
        <p>

        </p>
        <p><b>1. Dispozitii generale</b></p>
        <p>Acest website este deținut și administrat de Societatea Comercială “Iralina” SRL. Prin înregistrarea comenzii în magazinul online www.guess.md, Clientul acceptă Termenii și Condițiile de vânzare a produselor afișate pe acest website (în continuare
            – Termeni și Condiții) prezentate mai jos.</p>
        <p>Termenii si Condițiile menționate, precum și informația despre produsele afișate pe website reprezintă oferte publice, în conformitate cu articolul 681 din Codul civil al Republicii Moldova și a Legii nr. 284 privind Comerțul Electronic. Cumpărătorul,
            după ce a luat cunoștință cu textul condițiilor de vânzare, le acceptă prin bifarea alineatului după cum urmează: „Am citit și accept Termenii și Condițiile acestui website”.</p>

        <p>Relațiile dintre client și vânzător sunt stabilite în baza Legii nr. 105 din 13.03.2003 cu privire la Protecția Drepturilor Consumatorului, cât și a altor acte normative adoptate în conformitate cu aceasta.

        </p>
        <p>Vânzătorul își rezervă dreptul de a modifica Termenii si Condițiile date, iar Clientul este obligat sa monitorizeze modificările în mod regulat.</p>

        <p><b>2. Înregistrarea pe website</b></p>
        <p>Vânzătorul nu este responsabil pentru exactitatea și corectitudinea informațiilor furnizate de client în timpul înregistrării.</p>
        <p><b>3. Înregistrarea și termenul de livrare a comenzii</b></p>
        <p>Comanda clientului poate fi înregistrată de către client pe website. La înregistrarea comenzii, clientul trebuie să specifice urmatoarea informație:</p>

        <li>numele și prenumele Clientului sau a destinatarul comenzii</li>
        <li>adresa de livrare a comenzii</li>
        <li>telefonul de contact</li>
        <li>un e-mail de contact</li>
        <p></p>

        <p>Dupa înregistrarea comenzii, clientului i se oferă informația privind data preconizată de transmitere/livrare a comenzii de catre Serviciul de Livrare. Data specificată depinde de disponibilitatea produselor comandate în depozitul vânzătorului,
            cât și timpul necesar pentru prelucrarea comenzii.</p>
        <p>Vânzătorul are dreptul de a refuza înregistrarea comenzii, în cazul în care Clientul a facut deja comanda de 5 sau mai multe unități, pe care le-a refuzat anterior, din motivele care nu sunt legate de prezența defectelor în aceste produse.</p>
        <p>Toate materialele informative afișate pe website, au caracter consultativ și nu pot transmite în totalitate informația exactă despre proprietățile și caracteristicile mărfurilor, inclusiv culoarea, mărimea și forma.</p>
        <p>În cazul lipsei în depozitul vânzătorului a produsului comandat, vânzătorul are dreptul de a anula comanda și obligația de a informa clientul prin trimiterea unui e-mail la adresa specificată sau prin telefon.</p>
        <p>În cazul anulării Comenzii preplătite, costul produsului anulat este returnat către client prin modulul în care a fost inițial produsă achitarea.</p>
        <p><b>4. Achitarea</b></p>
        <p><b>Metodele de achitare a produselor.</b></p>
        <p>Comanda înregistrată pe www.guess.md poate fi plătită în numerar. În cazul dat, magazinul online www.guess.mdrezervă mărfurile specificate în comandă si informeaza clientul despre disponibilitatea si termenii de livrare</p>
        <p><b>5. Livrare și Retur</b></p>
        <p><b>Condiții de livrare a produselor GUESS.</b></p>
        <p><b>Metoda și Procedura Livrării:</b></p>
        <p>Livrarea se efectuează prin curierat rapid. Clientul va fi contactat preventiv pentru a preciza cel mai convenabil interval de timp de livrare. Ulterior, curierul se va deplasa la adresa indicată în comanda online și va înmâna personal destinatarului
            coletul solicitat.</p>
        <p>De asemenea, curierul va oferi spre semnare clientului o confirmare a primirii coletului (document în două exemplare).</p>
        <p><b>Timpul Livrării:</b></p>
        <p>Livrarea se efectuează în 1-3 zile lucrătoare de la efectuarea comenzii.</p>
        <p>Pentru livrarea de urgență lăsați un mesaj suplimentar la efecturea comenzii.</p>
        <p>Comenzile efectuate de luni până vineri, după orele 12:00 – vor fi livrate în aceeași zi sau în ziua următoare după efectuarea comenzii.</p>
        <p><b>Destinațiile Comenzilor și Costurile Livrării:</b></p>
        <p>Echipa noastră va face totul posibil să livreze orice produs din magaziunul online www.guess.md prin toată Republica Moldova. Coletele pot fi livrate atât la domiciuliu, cât și la locurile de muncă.</p>
        <p>Livrările în raza or. Chișinău, Durlești și Codru sunt gratuite cu condiția că suma comenzii depășește 500 MDL, în caz contrar prețul livrării va constitui 35 MDL.</p>
        <p>Livrările în afara razei or. Chișinău, Durlești și Codru presupun o taxă adăugătoare în funcție de destinație. La plasarea comenzii vă rugăm să indicați solicitarea livrării în localitatea dorită, iar unul din reprezentanții noștri vă va comunica
            prețul livrării. Prețul livrării constituie 70 MDL, dacă suma cumpărăturii depășește 1500 MDL – livrarea este gratuită.</p>
        <p><b>Modificarea sau Anularea Comenzii:</b></p>
        <p>Datele comenzii pot fi modificate accesând contul dvs. personal pe www.guess.md.</p>
        <p>Anularea comenzii poate fi efectuată la telefonul: +373.69.365.936 sau accesând contul dvs. personal pe www.guess.md.</p>
        <p><b>6. Returnare</b></p>
        <p>În conformitate cu Legea Republicii Moldova nr.105-XV din 13.03.2003 „Privind protecția consumatorului”, există posibilitatea în decurs de 14 zile calendaristice, de a înlocui cu un produs similar sau de restitui contravaloarea lui, dacă produsul
            nu este utilizat, nu și-a pierdut calitățile de consum și dacă există probe că a fost cumpărat de la vânzător și eticheta și sigiliul nu au fost scoase.</p>
        <p><b>Returnarea produsul curierului:</b></p>
        <p>Fie că produsul nu se potrivește după mărime sau din orice alte motive, puteți returna produsul direct curierului, cu condiția că acesta încă se află la adresa dvs. și că clientul achită taxa de livrare tur-retur 70 MDL.</p>
        <p><b>Returnarea produsului după plecarea curierului:</b></p>
        <p>Orice produs poate fi returnat timp de 14 de zile din data efectuării livrării, cu condiția că acesta nu a fost folosit și defectat după etapa achiziționării, iar sigiliile și etichetele sunt intacte.</p>
        <p>Returul se efectuează doar în incinta magazinului GUESS (Shopping MallDova, et. 2) sau prin poștă la adresa Bd. Ștefan cel Mare 3, compania Iralina SRL., MD-2011.</p>
        <p>La returnarea bunurilor în magazin, este necesar să se depună originalele următoarelor documente:</p>
        <p>Buletinul de identitate sau pașaportul cetățeanului RM</p>
        <p>Bonul fiscal</p>
        <p>Schimbul de bunuri către magazin este posibil numai din următoarele motive:</p>
        <p>Dimensiunea este mare</p>
        <p>Dimensiunea este mică</p>
        <p>Returnarea produsului în schimbul altuia:</p>
        <p>Returnarea produsului în schimbul altuia este posibilă la magazinul GUESS din CC Shopping MallDova, et.2, str. Arborilor 21, or. Chișinău. Procedura de returnare a unui articol se încheie cu rambursarea sumei echivalente cu prețul produsului la
            momentul cumpărării acestuia în caz că întrunește toate condițiile de retur.</p>
        <p><b>Modalitate de rambursare</b></p>
        <p>Banii sunt rambursați în numerar, transferați pe cardul bancar sau în portofelul electronic de la care a fost plătită comanda. Transferul durează până la 10 zile lucrătoare după primirea și verificarea bunurilor returnate.</p>
        <p></p>
        <p><b>7. Politica de confidențialitate</b></p>
        <p>La înregistrarea comenzii pe website-ul www.guess.md, clientul oferă următoarea informație: numele, prenumele, adresa de livrare, adresa de e-mail, numărul de telefon.</p>
        <p>Oferind informația personală website-ului www.guess.md, clientul acceptă prelucrarea acesteia de catre vânzător, inclusiv pentru promovarea produselor și serviciilor website-ului.</p>
        <p>Informația oferită de Client pentru implementarea acestui serviciu nu va fi divulgată persoanelor sau website-urilor neautorizate. Excepție poate fi oferirea informației personale la cererea organelor competente ale Republicii Moldova sau la solicitarea
            instanței de judecată. Vânzătorul este responsabil pentru menținerea confidențialității informațiilor personale a clientului.</p>
        <p>Clientul este obligat sa furnizeze informații fiabile. În cazul în care clientul oferă informații incorecte, vânzătorul nu este responsabil pentru informația dată și consecințele ulterioare.</p>
        <p><b>Măsuri de securitate</b></p>
        <p>Magazinul online www.guess.md angajează măsuri de securitate pentru a preveni accesul neautorizat, asigurarea menținerii exactității și corectitudinii datelor pentru utilizarea corectă a informației de pe website. Transmiterea datelor prin internet
            sau prin rețeaua wireless nu poate fi protejată în totalitate. Prin urmare, la fel ca alte companii, echipa GUESS nu poate garanta securitatea în întregime a informației oferită de către Client, astfel, el va face acest lucru pe propria raspundere.</p>
        <p><b>Utilizatori minori</b></p>
        <p>În conformitate cu legislația în vigoare, utilizarea website-ului și a conținutului acestuia este destinată cumpărătorilor adulți. Magazinul online GUESS nu urmărește obiectivul de a vinde produse minorilor. Cu toate acestea, nu există o modalitate
            sigură de cunoaștere a vârstei persoanelor care vizitează website-ul în cauză și, prin urmare, GUESS respectă politica de confidențialitate pentru persoanele de toate vârstele.</p>
        <p><b>8. Plângeri</b></p>
        <p>În cazul plângerilor legate de cumpărarea și vânzarea de bunuri, puteți contacta Agenția pentru Protecția Consumatorilor și Supravegherea Pieței cu ajutorul următoarelor date de contact:</p>
        <p></p>


        <address>
            mun.Chisinau, str. Vasile Alecsandri 78, MD-2012. <br>
          Telefon: (022) 741 464<br>
            Linia fierbinte: 080028028 <br>
            www.consumator.gov.md
        </address>



    </div>



    <app-footer></app-footer>