<div class="content">
  <div class="column">
    <div class="title">Autentificare</div>

    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
    <div class="input-name">Nume utilizator sau adresă email *</div>
    <input matInput formControlName="username" />
    <div class="input-name">Parola *</div>
    <input matInput formControlName="password" />
    <!-- <mat-checkbox>Remember me!</mat-checkbox> -->
    <!-- </form> -->
    <button mat-raised-button color="primary" (click)="auth()">
      autentificare
    </button>
    <a>Ai uitat parola?</a>
  </div>
  <div class="vertical-line"></div>
  <div class="column">
    <div class="title">Înregistrare</div>

    <div class="input-name">Adresă email *</div>
    <input matInput />
    <div class="text-1">Va fi trimisă o parolă la adresa ta de email.</div>
    <div class="text-2">
      Your personal data will be used to support your experience throughout this
      website, to manage access to your account, and for other purposes
      described in our <a>politică de confidențialitate</a>.
    </div>
    <button mat-raised-button color="primary" (click)="auth()">
      înregistrare
    </button>
  </div>
</div>
