<div class="nav__column">
  <div class="nav__column__title">Navighează Categorii:</div>
  <div class="small-divider"></div>
  <div *ngFor="let item of categories">
    <div class="nav__column__item">
      <a [routerLink]="['/catalogue', item.mainCategory]">
        {{ item.mainCategory }}
      </a>
      <mat-icon
        *ngIf="item.categories !== undefined"
        (click)="item.hidden = !item.hidden"
        >keyboard_arrow_down</mat-icon
      >
      <div *ngFor="let category of item.categories">
        <div *ngIf="!item.hidden" class="nav__column__item__hidden">
          <a
            [routerLink]="['/catalogue', item.mainCategory, category.category]"
            >{{ category.category }}</a
          >
          <mat-icon
            *ngIf="category.subCategories !== undefined"
            (click)="category.hidden = !category.hidden"
            >keyboard_arrow_down</mat-icon
          >
          <div *ngFor="let subCategory of category.subCategories">
            <div *ngIf="!category.hidden" class="nav__column__item__hidden">
              <a
                [routerLink]="[
                  '/catalogue',
                  item.mainCategory,
                  category.category,
                  subCategory
                ]"
                >{{ subCategory }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
