.nav {
  &__column {
    width: 100%;
    padding: 0 15px 30px;
    color: #bdbcbc;
    display: flex;
    flex-direction: column;
    line-height: normal;

    &__title {
      font-size: 1em;
      font-weight: 400;
      color: #000000;
    }

    &__item {
      border-bottom: 1px solid #ececec;
      line-height: 1.6;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 220px;

      &__hidden {
        padding-left: 15px;

      }

      & a {
        color: #334862;
        text-decoration: none;
      }

      &:hover {
        color:black;
      }

      &#first {
        border-top: none;
      }
      
      #arrow-down{
        display: inline-block;
        position: relative;
        color: black;
        transition: 0.70s;
      }
  
      #arrow{
        float: right;
        display: inline-block;
        position: relative;
        top: 5px;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
      }
      #arrow-rotate{
        float: right;
        top: 5px;
        display: inline-block;
        position: relative;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
      #arrow-rotate2{
        display: inline-block;
        position: relative;
        transition: 0.50s;
        -webkit-transition: 0.50s;
        -moz-transition: 0.50s;
        -ms-transition: 0.50s;
        -o-transition: 0.50s;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
 
      .fa-angle-down{
        position: relative;
 
      }


      button {
        background:none;
        border:none;
      }
      
      hr{
        padding: 0px;
        margin: 0px;   
        width: 220px; 
        visibility: visible;
        color:solid #ddd;
      }   
      ul{
        border-left: 1px solid #ddd;
        margin: 0px;
        padding-left: 15px;
        width: 100%;
      }
    }
  }
}