h2 {
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 1em;
}

.gap {
    height: 50px;
}

.text {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-family: sans-serif, serif;
}

img {
    padding: 30px;
}