<app-header></app-header>
<div class="content">
  <h2>GUESS – O INTRODUCERE</h2>
  <div class="gap"></div>
  <div class="text">
    Guess este un brand american de îmbrăcăminte și alte accesorii vestimentare
    precum ceasuri, parfumuri și bijuterii. Inițial fiind o marcă de blugi
    pentru femei, pe parcursul anilor GUESS a evoluționat într-un brand cu
    recunoștință mondială, oferind haine și accesorii de calitate atât pentru
    femei, cât și pentru bărbați. Popularitatea și încrederea de care se bucură
    brandul GUESS sunt confirmate de peste 480 de locații ale magazinelor în
    toată lumea.
  </div>
  <img src="localhost:5000/public/images/secondary-pages/about-us.jpg" />
</div>
<app-footer></app-footer>
