<app-header></app-header>
<div class="content">

    <h2><strong><i>GUESS – O INTRODUCERE</i></strong></h2>
    <div class="gap"></div>
    <div class="text">


        Guess este un brand american de îmbrăcăminte și alte accesorii vestimentare precum ceasuri, parfumuri și bijuterii. Inițial fiind o marcă de blugi pentru femei, pe parcursul anilor GUESS a evoluționat într-un brand cu recunoștință mondială, oferind haine
        și accesorii de calitate atât pentru femei, cât și pentru bărbați. Popularitatea și încrederea de care se bucură brandul GUESS sunt confirmate de peste 480 de locații ale magazinelor în toată lumea.

    </div>
    <img src="/assets/2.jpg" />

    <div class="text">

        Societatea Comercială „Iralina” SRL este reprezentantul oficial al brandului GUESS în Republica Moldova și începând cu anul 2008 a deschis primul magazin autorizat GUESS în incinta CC Shopping MallDova din Chișinău.

    </div>
</div>
<app-footer></app-footer>