.title {
  text-transform: uppercase;
}

ngx-slider {
  width: 200px;
}

:host ::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #f1f1f1;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: #666;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #666;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    display: none;
  }
}
