<button mat-raised-button color="primary" (click)="toggleFilters()">
  <mat-icon>menu</mat-icon> VEZI FILTRE
</button>
<div class="filters" *ngIf="filtersOpened">
  <div class="title">Filtru preț:</div>
  <div class="small-divider"></div>
  <div class="custom-slider">
    <ngx-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="options"
    ></ngx-slider>
  </div>
  <div class="price">Preț: {{ minValue }} MDL - {{ maxValue }} MDL</div>
  <div class="title">Filtru culoare:</div>
  <div class="small-divider"></div>
  <mat-form-field appearance="fill">
    <mat-select>
      <mat-option *ngFor="let color of colors" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="title">Filtru mărime:</div>
  <div class="small-divider"></div>
  <mat-form-field appearance="fill">
    <mat-select>
      <mat-option *ngFor="let size of sizes" [value]="size">
        {{ size }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="applyFilters()">
      Aplică Filtre
    </button>
  </div>
</div>
