<div class="footer-nav">
  <div class="footer-nav__row">
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">INFORMAȚII GENERALE:</div>
      <div class="small-divider"></div>
      <div class="footer-nav__row__column__item" id="first">Despre Noi</div>
      <div class="footer-nav__row__column__item">Contacte</div>
      <div class="footer-nav__row__column__item">Termeni și Condiții</div>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">INFORMAȚII UTILE:</div>
      <div class="small-divider"></div>
      <div class="footer-nav__row__column__item" id="first">Cum comand</div>
      <div class="footer-nav__row__column__item">Avantajele Înregistrării</div>
      <div class="footer-nav__row__column__item">Informații Utile</div>
      <div class="footer-nav__row__column__item">Livrare și Retur</div>
      <div class="footer-nav__row__column__item">Întrebări Frecvente - FAQ</div>
      <div class="footer-nav__row__column__item">Ghid Mărimi</div>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">CONTUL ÎN MAGAZIN:</div>
      <div class="small-divider"></div>
      <div class="footer-nav__row__column__item" id="first">Contul meu</div>
      <div class="footer-nav__row__column__item">Comenzile mele</div>
      <div class="footer-nav__row__column__item">Wishlist</div>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">ABONARE LA NEWSLETTER:</div>
      <div class="small-divider"></div>
      Abonează-te la Newsletter și fii la curent cu noutățile modei, beneficiaza
      de reducerile și concursurile pentru fanii Guess Moldova.
      <mat-form-field appearance="outline">
        <input matInput placeholder="Numele & Prenumele (necesar)" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Emailul Dvs. (necesar)" />
      </mat-form-field>
      <button mat-raised-button color="primary">MĂ ABONEZ</button>
    </div>
  </div>
</div>
