.footer-nav {
  background-color: #545454;
  padding: 30px 0 0;

  .small-divider {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__row {
    max-width: 1155px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    &__column {
      max-width: 25%;
      flex-basis: 25%;
      padding: 0 15px 30px;
      color: #f1f1f1;
      font-family: 'PT Sans', sans-serif;
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1em;
        font-weight: 600;
        color: #f1f1f1;
      }

      &__item {
        border-top: 1px solid #ececec;
        border-color: rgba(255, 255, 255, 0.08);
        line-height: 1.6;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(240, 240, 240);

        &:hover {
          color: white;
        }

        &#first {
          border-top: none;
        }
      }
      // rgba(255, 255, 255, 0.09)
      mat-form-field {
        background-color: transparent;
        border-color: transparent;

        &-wrapper {
          background-color: rgba(255, 255, 255, 0.09);
        }
      }
    }
  }
}

:host ::ng-deep .mat-form-field {
  &-wrapper {
    background-color: rgba(255, 255, 255, 0.09);
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    border-radius: 6px;
    border: none;
  }

  &-infix {
    vertical-align: middle;
    border: none;
  }

  &-outline {
    vertical-align: middle;
  }
}
