<div class="footer-nav">
  <div class="footer-nav__row">
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">INFORMAȚII GENERALE:</div>
      <div class="small-divider"></div>
      <a
        class="footer-nav__row__column__item"
        id="first"
        [routerLink]="['/about-us']"
      >
        Despre Noi
      </a>
      <a class="footer-nav__row__column__item" [routerLink]="['/contact']">
        Contacte
      </a>
      <a
        class="footer-nav__row__column__item"
        [routerLink]="['/privacy-policy']"
      >
        Termeni și Condiții
      </a>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">INFORMAȚII UTILE:</div>
      <div class="small-divider"></div>
      <a
        class="footer-nav__row__column__item"
        id="first"
        [routerLink]="['/how-to-order']"
      >
        Cum comand
      </a>
      <a
        class="footer-nav__row__column__item"
        [routerLink]="['/register-benefits']"
      >
        Avantajele Înregistrării
      </a>
      <a class="footer-nav__row__column__item" [routerLink]="['/useful-info']">
        Informații Utile
      </a>
      <a
        class="footer-nav__row__column__item"
        [routerLink]="['/delivery-and-cancellation']"
      >
        Livrare și Retur
      </a>
      <a class="footer-nav__row__column__item" [routerLink]="['/faq']">
        Întrebări Frecvente - FAQ
      </a>
      <a class="footer-nav__row__column__item" [routerLink]="['/size-guide']">
        Ghid Mărimi
      </a>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">CONTUL ÎN MAGAZIN:</div>
      <div class="small-divider"></div>
      <a
        class="footer-nav__row__column__item"
        id="first"
        [routerLink]="['/my-account']"
      >
        Contul meu
      </a>
      <a
        class="footer-nav__row__column__item"
        [routerLink]="['/my-account/track-order']"
      >
        Comenzile mele
      </a>
      <a
        class="footer-nav__row__column__item"
        [routerLink]="['/my-account/wishlist']"
      >
        Wishlist
      </a>
    </div>
    <div class="footer-nav__row__column">
      <div class="footer-nav__row__column__title">ABONARE LA NEWSLETTER:</div>
      <div class="small-divider"></div>
      Abonează-te la Newsletter și fii la curent cu noutățile modei, beneficiaza
      de reducerile și concursurile pentru fanii Guess Moldova.

      <mat-form-field appearance="outline">
        <input matInput placeholder="Numele & Prenumele (necesar)" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Emailul Dvs. (necesar)" />
      </mat-form-field>
      <button mat-raised-button color="primary">MĂ ABONEZ</button>
    </div>
  </div>
</div>
