<app-header></app-header>
<div class="content">
    <h2><strong>INFORMAȚII UTILE</strong></h2>
    <div class="text">                                
       <h3><strong>GHID DE ÎNGRIJIRE A DENIM-ULUI</strong></h3>
       <p>Am cerut experților noștri în denim să ne ajute cu cele mai utile sfaturi despre cum îngrijim de produsele din acest material, astfel în cât să arate mereu ca noi. Urmați sfaturile simple de îngrijire pentru a vă păstra denim-ul într-o stare impecabilă.</p>
       <h4><strong>Spălarea denim-ului</strong></h4>
       <p>• Înainte de prima purtare, spălați denim-ul întunecat pentru a preveni decolorarea. Adăuați o jumătate de cană de oțet alb în apă la prima spălare a blugilor, astfel veți proteja și păstra culoarea întunecată.<br>
       • Spălați blugii doar o dată sau de două ori pe lună. Se recomandă să spălați blugii manul, folosind un detergent lichid ușor. Spălarea la mașină este acceptată prin setarea acesteia la regimul rece.<br>
       • Pentru uscare, se recomandă să atârnați blugii de un suport, astfel permițind uscarea în mod firesc și păstrarea formei acestora. Utilizați uscătorul doar dacă aveți obiectivul să obțineți o formă cutată (încrețită) a blugilor. În cazul în care doriți să folosiți uscătorul, uscați la o temperatură caldă-slabă cel mult 20 de minute, apoi dați voie blugilor să se usuce în mod obișnuit.</p>
       <h4><strong>Purtarea denimu-ului</strong></h4>
       <p>• Dacă credeți că blugii dvs. trebuie să fie scurtați, mai întâi, spălați-i. Denim-ul tinde să se micșoreze în lungime după spălare și, astfel, s-ar putea să obțineți o lungime mai scurtă decât ați anticipat.<br>
       • Dacă doriți să obțineți un aspect deteriorat al blugilor, pulverizați-i cu apă în timp ce îi purtați prin casă, pentru a obține cute naturale și un efect de blugi purtați.<br>
       • Pentru a păstra denim-ul proaspăt între spălări, pulverizați-l cu spray pentru împrospătare a materialelor țextile; de asemena, puteți atârna blugii la aer liber.</p>
       <h4><strong>Depozitarea denim-ului în dulap</strong></h4>
       <p>• Cel mai bun mod de a stoca blugii este să îi atârni de buclele curelei. Astfel, reducem cutele nedorite. Atașați două cârlige de formă “S” pe un cuier obișnuit și agățați blugii de buclele curelei exterioare.<br>
       • Nu utilizați umerașe cu cleme la agățarea blugilor, dinții acestora se adâncesc în material și pot lăsa urme cu aspect neplăcut în regiunea taliei, genunchilor sau manșetelor.<br>
       • O altă opțiune este să pliați denim-ul în stive, așa cum vedeți în magazinele de vânzare cu amănuntul, cu fermoarul în interiorul pliului.</p>
       <p>&nbsp;</p>
       <h3><strong>CEASURILE GUESS</strong></h3>
       <h4><strong>Ceasurile GUESS sunt impermeabile?</strong></h4>
       <p>Da, nivelul de rezistență la apă este indicat pe spatele fiecărui ceas.</p>
       <p><em>Exemple:</em><br>
       Rezistent la apă – rezistent la stropi de apă și ploaie. Do not immerse (nu faceți scufundări).<br>
       3 atm / 30m / 100 ft. – Ploaie, duș; do not immerse (nu faceți scufundări).<br>
       5 atm / 50m / – Ploaie, duș, înot<br>
       10atm / 100m / 330ft. – Ploaie, duș, înot, navigație, snorkeling, scufundări complete</p>
       <p>Ceasurile pot rezista la apă până când sticla, coroana, butoanele, carcasa și sigiliile rămân intacte.</p>
       <p>Îngrijire și siguranță: nu folosiți coroana sau butoanele când ceasul este scufundat.</p>
       <h4><strong>Ce materiale sunt folosite pentru producerea ceasurilor GUESS?</strong></h4>
       <p>Majoritatea ceasurilor GUESS sunt din oțel inoxidabil fără nichel. Toate curelele metalice ale ceasurilor sunt confecționate din alamă.</p>
       <h4><strong>Cât timp funcționează o baterie GUESS?</strong></h4>
       <p>Bateriile funcționează între 2-3 ani.</p>
       <h4><strong>Cât timp este garanția pentru un ceas GUESS și ce acoperă?</strong></h4>
       <p>Garanția pentru ceasurile GUESS acoperă piese sau materiale defecte pentru o perioadă de doi ani de la data achiziționării. Garanția nu acoperă uzura sau deteriorarea normală, inclusiv abuzul. Sunt excluse piesele, forța de muncă sau daunele care nu sunt induse de GUESS, bateria, cureaua sau sticla ceasului, defecțiuni cauzate de accidente sau utilizare necorespunzătoare (de exemplu, sticlă zgâriată sau spartă). Atunci când perioada de garanție a ceasului a expirat sau problema nu este inclusă în mențiunile garanției, reparația devine responsabilitatea clientului.</p>
       <p>&nbsp;</p>
       <h3><strong>BIJUTERIILE GUESS</strong></h3>
       <h4><strong>Din ce materiale sunt fabricate bijuteriile GUESS?</strong></h4>
       <p>Materialele bijuteriilor diferă în funcție de colecție, printre acestea pot fi menționate: sticlă, rășină, cabluri de mătase, smalț, perle de sticlă, cristale autentice și pietre cubice de zirconiu.<br>
       Metalul este un aliaj de metale de bază fabricate în mod special pentru bijuteria GUESS. De semena, acesta nu conține plumb.</p>
       <p>Finisajele diferă în funcție de colecție și sunt aplicate pe metal cu ajutorul procesului de electroplacare. În procesele de placare se utilizează doar metale prețioase, cum ar fi aurul, argintul și rodiul; nu se folosesc materiale precum nichelul sau cadmiul.</p>
       <h4><strong>Cum pot avea grijă de bijuteriile mele GUESS?</strong></h4>
       <p>Bijuteriile dvs. vor reacționa diferit în funcție de frecvența uzurii și de modul în care aveți grijă de acestea.</p>
       <ul>
       <li>După port, mereu păstrați bijuteria în traista GUESS, oferită în magazin.</li>
       <li>Pentru a curăța bijuteriile, ștergeți-le ușor cu o bucată de material umed. Este obligatoriu ca acesta să fie moale și curat. Uscați bijuteria cu alt material moale, curat și absorbant. Lăsați bucata de bijuterie pe un prosop pentru o</li>
       <li>perioadă lungă de timp, astfel în cât să fiți siguri că aceasta este complet uscată.</li>
       <li>Nu folosiți apă caldă sau înmuiați în apă bijuteria.</li>
       <li>Nu expuneți bijuteria săpunurilor, detergenților, agenților de curățare sau a altor substanțe chimice; inclusiv parfumuri sau spray pentru păr.</li>
       </ul>
       <p>&nbsp;</p>
       <h3><strong>GHID ÎNGRIJIRE A GENȚILOR ȘI PORTMONEELOR GUESS</strong></h3>
       <h4><strong>Partea exterioară</strong></h4>
       <p>Gențile GUESS sunt căptușite cu satin, bumbac și nailon. Pentru curățarea interoare a genții treceți ușor prin ea cu un rol adeziv, astfel colectând toate resturile și scamele necesar de eliminat.</p>
       <h4><strong>Fermoare</strong></h4>
       <p>Păstrați fermoarele în stare funcținală aplicând ceară de albine naturală peste fermoarele deschise.</p>
       <h4><strong>Depozitare</strong></h4>
       <p>Păstrați gențile GUESS apărate de lumina directă a soarelui pentru a evita decolorarea și apariția crăpăturilor. Pentru menținerea formei genții, umpleți-o cu țesut sau hârtie albă. Evitați în calitate de umplutură plasticul și hârtia de ziar. De asemenea, păstrați geanta într-un sac de material și în loc uscat, pentru evitarea transferului de culoare sau apariția crăpăturilor din cauza contactului cu alte genți de vinil sau piele.</p>
       <h4><strong>Mânere și curele</strong></h4>
       <p>Reziduurile din loțiuni și parfumuri pot decolora și uza materialele. Evitați supra-umplerea pungii; la greutate excesivă pot slăbi cusăturile și se pot deteriora curelele.</p>
       <h4><strong>Exterior</strong></h4>
       <p>Gențile sintetice trebuie șterse cu o bucată de material umed. Pentru îndepărtarea petelor și în cazul genților cu material de pânză, se poate folosi o cantitate mică de detergent slab și diluat în apă. Uscați geanta cu un material abosrbant prin atingeri ușoare a suprafețelor umede. În final, atârnați geanta și lăsați-o într-o zonă bine ventilată. Gențile din piele pot fi curățate cu o perie.</p>
    </div>
</div>
<app-footer></app-footer>




