.top-header {
  background-color: black;
  min-height: 40px;
  display: flex;
  align-items: center;

  .center-text {
    color: white;
    font-size: 110%;
    font-weight: 500;
  }

  .mat-icon {
    color: white;
  }

  .facebook-icon {
    height: 12px;
    width: 12px;
    margin-right: 4px;
  }

  .instagram-icon {
    height: 12px;
    width: 12px;
  }
}
