<div class="wrapper">
  <div class="username">name <em>#id</em></div>
  <div class="menu-items">
    <div
      class="item"
      [ngStyle]="
        currentPage === ''
          ? { 'border-right': '3px solid black' }
          : { 'border-right': '0' }
      "
      [routerLink]="['/my-account']"
    >
      panou control
    </div>
    <div
      class="item"
      *ngFor="let item of menuItems | keyvalue: unsorted"
      [ngStyle]="
        item.key?.toString() === currentPage
          ? { 'border-right': '3px solid black' }
          : { 'border-right': '0' }
      "
      [routerLink]="['/my-account', item.key]"
    >
      {{ item.value }}
    </div>
  </div>
</div>
