<app-header></app-header>

<!-- TODO: Alternative header, other elements are ok -->

<mat-drawer-container>
  <!-- <div class="header-mobile">
    <div class="top-header">
      <div class="center-text">WINTER SALE -40%</div>
      <div class="line-divider"></div>
      <mat-icon
        class="facebook-icon"
        svgIcon="facebook"
        matTooltip="Follow on Facebook"
        (click)="goToUrl('facebook')"
      >
      </mat-icon>
      <mat-icon
        class="instagram-icon"
        svgIcon="instagram"
        matTooltip="Follow on Instagram"
        (click)="goToUrl('instagram')"
      ></mat-icon>
    </div>
    <div class="main-header">
      <div class="flex-row container">
        <div class="flex-col hide-for-medium flex-left">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="flex-col hide-for-medium flex-center">
          <img class="logo" src="assets/logo.png" />
        </div>
        <div class="flex-col hide-for-medium flex-right right-container">
          <div class="basket">
            <mdb-icon
              fas
              class="basket-icon"
              icon="shopping-bag"
              size="3x"
            ></mdb-icon>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="banner">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <!-- <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
          alt="First slide"
        /> -->
          <div class="first-slide w-100"></div>
          <div class="centered">SALE -40%</div>
          <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect></div> -->
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="assets/banner/banner2.png"
            alt="Second slide"
          />
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Strong mask</h3>
          <p>Secondary text</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="assets/banner/banner3.png"
            alt="Third slide"
          />
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img
            class="d-block w-100"
            src="assets/banner/banner1.png"
            alt="Third slide"
          />
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <div class="content">
    <div class="gap"></div>
    <div class="welcome">BINE AȚI VENIT LA</div>
    <div class="barred-text">
      <b></b>
      <span id="shop-name">
        <mat-icon svgIcon="shopping-bag"></mat-icon>
        MAGAZINUL ONLINE GUESS MOLDOVA</span
      >
      <b></b>
    </div>
    <div class="gap" id="name-category"></div>
    <div class="barred-text">
      <b></b>
      <span>CATEGORII</span>
      <b></b>
    </div>
    <div class="cardViewtest" fxLayoutGap="20px">
      <ng-container *ngFor="let cat of categories">
        <app-categories-card
          [categoryName]="cat.name"
          [categoryImage]="cat.imageSrc"
          [cardWidth]="'300px'"
        ></app-categories-card>
      </ng-container>
    </div>
    <div class="gap" id="name-category"></div>
    <div>
      <div class="barred-text">
        <b></b>
        <span>PRODUSELE GUESS ÎN TREND</span>
        <b></b>
      </div>

      <!-- <div fxLayout="row wrap" fxLayoutGap="15px">
        <div *ngFor="let item of testItems">
          <app-item-smallcard
            [wd]="150"
            [ht]="150 * 1.5"
            [item]="item"
            (smallCardPressed)="smallCardPressed($event)"
          ></app-item-smallcard>
        </div>
      </div> -->

      <div class="carousel-container">
        <div class="cardViewtest" fxLayoutGap="20px">
          <ng-container *ngFor="let cat of categories">
            <app-categories-card
              [categoryName]="cat.name"
              [categoryImage]="cat.imageSrc"
              [cardWidth]="'170px'"
            ></app-categories-card>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="gap" id="name-category"></div>
    <div class="barred-text">
      <b></b>
      <span>TOPUL SĂPTĂMÂNII</span>
      <b></b>
    </div>
  </div>
  <app-footer></app-footer>
  <app-scroll-btn></app-scroll-btn>

  <mat-sidenav #sidenav position="start" role="directory">
    <div class="sidenav-wrapper">
      <div class="search-bar">
        <input mat-input placeholder="Caută..." />
        <mat-icon id="search-icon-sidenav" color="accent">search</mat-icon>
      </div>
    </div>
  </mat-sidenav>
</mat-drawer-container>
