// Desktop
$carouselHeight:50vh;

@media only screen and (min-width: 1224px) {
  .cardViewtest {
    flex-direction: row;
  }

  .header-desktop {
    width: 100%;

    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .container {
      max-width: 1155px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    .top-header {
      background-color: black;
      min-height: 40px;
      display: flex;
      align-items: center;

      .center-text {
        color: white;
        font-size: 110%;
        font-weight: 500;
      }

      .mat-icon {
        color: white;
      }

      .facebook-icon {
        height: 12px;
        width: 12px;
        margin-right: 4px;
      }

      .instagram-icon {
        height: 12px;
        width: 12px;
      }
    }

    .main-header {
      background-color: white;
      height: 70px;
      display: flex;
      align-items: center;

      .logo {
        max-width: 75%;
      }

      .right-container {
        display: flex;

        .line-divider {
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          height: 30px;
          vertical-align: middle;
          position: relative;
          margin: 0 7.5px;
        }
      }

      .basket {
        display: inline-flex;
        align-items: center;

        .basket-text {
          font-size: 1.1em;
          font-weight: 700;
        }

        mat-icon {
          height: 40px;
          width: 40px;
        }
      }
    }

    .wide-nav {
      background-color: black;
      min-height: 43px;
      display: flex;
      justify-content: space-between;

      .search-bar {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }

      mat-button {
        padding-right: 0;
      }

      mat-icon {
        opacity: 0.6;
        color: white;
        font-size: 18px;
      }

      #search-icon {
        padding-left: 5px;
        font-size: 22px;
        opacity: 1;
      }
    }
  }

  .header-mobile {
    display: none;
  }
}

// Mobile devices / Tablets
@media only screen and (max-width: 1224px) {
  .cardViewtest {
    flex-direction: column;
  }

  .top-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    min-height: 40px;
    color: white;

    .center-text {
      font-size: 100%;
      font-weight: 575;
    }

    .facebook-icon {
      height: 12px;
      width: 12px;
      margin-right: 4px;
      margin-top: -6px;
    }

    .instagram-icon {
      height: 12px;
      width: 12px;
      margin-top: -6px;
    }

    .line-divider {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      height: 30px;
      vertical-align: middle;
      position: relative;
      margin: 0 7.5px;
    }
  }

  .main-header {
    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 70px;
    }

    .container {
      max-width: 1155px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    .logo {
      height: auto;
    }
  }

  .sidenav-wrapper {
    padding: 30px 0;

    .search-bar {
      padding: 20px;
      flex: 1;
      display: flex;
      justify-content: flex-end;

      #search-icon-sidenav {
        background-color: black;
      }
    }
  }

  .header-desktop {
    display: none;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.first-slide {
  background-color: red;
  width: 100%;
  padding-top: 650px;
}

.menu-category {
  flex: 1 1 auto;
  margin: 0 5px;
  padding: 0px;
}

.menu-item {
  flex: 1 1 auto;
  margin: 2px 5px;
  padding: 0px;
  border-top: 1px solid #ececec;
}

.carousel {
  height: $carouselHeight;
}

.carousel .carousel-inner {
  height: $carouselHeight;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: $carouselHeight;
}

img {
  &.d-block {
    height: $carouselHeight;
  }
}

.gap {
  height: 60px;

  &#name-category {
    height: 30px;
  }
}

.welcome {
  text-align: center;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 500;
  font-size: large;
  margin-bottom: 0.5em;
}

.barred-text {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 500;
    font-size: large;

    mat-icon {
      margin-right: 10px;
    }

    &#shop-name {
      font-size: x-large;
    }
  }

  b {
    background-color: black;
    flex: 1;
    height: 2px;
    opacity: 0.1;
  }
}
