<div class="main-header">
  <div class="flex-row container">
    <div class="flex-col hide-for-medium flex-left">
      <img class="logo" src="assets/logo.png" [routerLink]="['']" />
    </div>
    <div class="flex-col hide-for-medium flex-center"></div>
    <div class="flex-col hide-for-medium flex-right right-container">
      <div class="auth-btn">
        <button mat-raised-button color="primary">AUTENTIFICARE</button>
      </div>
      <div class="line-divider"></div>
      <div class="basket" [routerLink]="['/cart']">
        <div class="basket-text">COȘ / {{ totalPrice }},00 MDL</div>
        <mat-icon svgIcon="cart"></mat-icon>
      </div>
      <button mat-raised-button color="primary" (click)="testIncrement()">
        +100
      </button>
    </div>
  </div>
</div>
