.main-header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;

  .logo {
    max-width: 75%;
  }

  .right-container {
    display: flex;

    .line-divider {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      height: 30px;
      vertical-align: middle;
      position: relative;
      margin: 0 7.5px;
    }
  }

  .basket {
    display: inline-flex;
    align-items: center;

    .basket-text {
      font-size: 1.1em;
      font-weight: 700;
    }

    mat-icon {
      height: 40px;
      width: 40px;
    }
  }
}
