.header {
  background-color: #f7f7f7;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  &-wrapper {
    max-width: 1155px;
    margin: 0 auto;
  }
}

.title {
  text-align: left;
  text-transform: uppercase;
  padding-top: 15px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.7em;
}

.translation {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.container {
  max-width: 1155px;
  margin: 0 auto;
  padding: 30px 0;
}
