// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// custom pallete
$pallete-black: (
  50: #e1e1e1,
  100: #c9cad2,
  200: #a8a8a8,
  300: #919191,
  400: #7c7c7c,
  500: #696969,
  600: #5b5b5b,
  700: #464646,
  800: #404040,
  900: #000000,
  A100: #fefefe,
  A200: #989898,
  A400: #363636,
  A700: #000000,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Web-Shop-primary: mat-palette($pallete-black, A700);
$Web-Shop-accent: mat-palette($pallete-black, A100);

// The warn palette is optional (defaults to red).
$Web-Shop-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Web-Shop-theme: mat-light-theme(
  (
    color: (
      primary: $Web-Shop-primary,
      accent: $Web-Shop-accent,
      warn: $Web-Shop-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Web-Shop-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Header common styles
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  max-width: 1155px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
